---
expensify_api_username: "{{ getenv "EXPENSIFY_API_USERNAME" }}"
expensify_email_username: "{{ getenv "EXPENSIFY_EMAIL_USERNAME" }}"
expensify_api_secret_key: "{{ getenv "EXPENSIFY_API_SECRET_KEY" }}"
expensify_integrations_url: "https://integrations.expensify.com/Integration-Server/ExpensifyIntegrations"
